# ================================
# ORDERS SERVICE
# ================================
ORDERS_PORT=3000

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=orders_db

# Audit service connection (TCP)
AUDIT_HOST=localhost
AUDIT_TCP_PORT=4000

# Auth
JWT_SECRET=super-secret-jwt-key-123
AUTH_SECRET=my-login-secret

# ================================
# AUDIT SERVICE
# ================================
AUDIT_PORT=3001

# MongoDB
MONGO_URI=mongodb://localhost:27017/audit_db
MONGO_DB_NAME=audit_db
